<div class="container col-md-7 col-md-offset-1">
	<div class="form-panel">
		<h2 class="blog-title"> Creating new Article</h2>
	</div>
	<br>
	<div class = "form-panel">
		<form ng-submit = 'postArticle()' >
			<div class="form-group">
			  	<label for = "title">Title</label>
			   	<input type="text" class="form-control" ng-model="data.header.title" placeholder="How to do anything"><br>
			    <label for = "category">Category</label><br>
			    	<select ng-model="data.header.category" style="width: 100%; height: 28px " >
						<option ng-repeat = "category in categories" >{{category}}</option>

					</select><br>
			    <br>
				<label for = "description">Introduction</label>
				<textarea class="form-control" rows="6" ng-model="data.header.description" placeholder="Enter your introduction here"></textarea>
			</div>
		</form>
	</div>
	<br>
	<div class="radio form-panel">
		This article has:
		<label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" ng-value="1" ng-model="checked">
				Multiple Parts
		</label>
		<label>
				<input type="radio" name="optionsRadios" id="optionsRadios2" ng-value="0" ng-model="checked">
				Neither
		</label>
	</div>
		<div ng-repeat="part in data.content.parts" >
					<div ng-show="checked" class = "form-panel">
						<h2>Part {{$index +1}}</h2>
						<input type="text" class="form-control" ng-model="part.title" placeholder="Title of part ">
					</div>
					<br>
					<div ng-repeat="step in part.steps">
							<div  class="form-panel">
							<h4><b>Step {{$index +1}}</b></h4>
							<input type="text" class="form-control" ng-model="step.title" placeholder="Title of step "><br>
							<textarea class="form-control" ng-model="step.text" rows="4"></textarea><br>

							<div>
								Image: <button class="btn btn-info" ngf-select ng-model="upimage[step.part_index][$index].image" name="file" ngf-pattern="'image/*'"
			    						ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{}">{{(!file&&"Choose a file")||(file.$ngfName+ " ("+file.$ngfOrigSize+" KB)")}}
			    							</button>
									<div class="pull-right">
										<img ngf-src = "upimage[step.part_index][$index].image" width="100px" height="100px">
									</div>
							</div>
							<br><br><br><br>
							</div>
							<br>
					</div>
					<br>
					<button ng-click = "addStep($index)" class="pull-right btn btn-success">Add Step</button>
					<br><br>
		</div>

		<div class="form-group" ng-show="checked">
			<br><br>
			Do you have another part
			<button ng-click = "addPart()" class="pull-right btn btn-success">Add a part</button>
			<br>
		</div>

		<div class="form-group" ng-init = "posted = false">
		<br>
		    <button ng-click = "postArticle()" class="btn btn-success" ng-show = "!posted">Post article with data above</button>
				<button class="btn btn-success" ng-show = "posted">Your article is being posted</button>
		</div>

</div>



<div class = "col-md-3 form-panel">
		<h3>Categories</h3>
		<div ng-repeat = "category in categories">
			<img ng-src="images/category/{{category}}.png">
			<a class = "text-left" ng-href="/category/p?category={{category}}&page=1">  {{category}}</a>
		</div>
		<br>
</div>
