
<div class="container col-md-7 col-md-offset-1">
	<div class="blog-header col-md-11 well shadow">
		<h1 class="blog-title text-uppercase"> {{data.header.title}} </h1>
		<b>Category :<a href="#"> {{data.header.category}}</a></b><br>
		<b> By <a href="#">{{data.header.author}} </a> </b>
		<br>
		<p class="blog-description text-article "> {{data.header.description}} </p>
		
	</div>
		<div class="" ng-repeat = "t in data.content.parts">
			<div class="blog-post">
				<nav class="navbar col-md-11 well shadow" ng-show = "data.content.parts.length >1">
					<a class="navbar-brand brand" >Part {{$index + 1}}</a>
					<h2 class="navbar-text">{{t.title}} </h2>
				
				</nav>
				<div class = "col-md-11 well shadow text-article "ng-repeat = "x in t.steps">

					<img ng-src="{{x.image}}" width = "100%" height="400px">
					<h2 class="step navbar-brand">{{$index + 1}}</h2>
					<p> <strong>{{x.title}}.</strong> {{x.text}}</p>
				</div>
			</div>
		</div>
</div>
<div class = "col-md-3 bg-info visible-lg-block shadow">
		<h3 align="center">How helpful is this ?</h3>
		<div class="col-md-2"></div>
		<div style="text-align:center" class="col-md-10" >
			<fieldset class="rating" align="center" ng-repeat="n in ['Unhelpful','Mostly unhelpful','Possibly helpful','Mostly helpful','Extremely helpful']">
		         	<input type="radio" id="star{{$index}}" name="rating" ng-model="color.name" ng-value="$index" ng-click = "rateArticle()">
		        	<label  for="star{{$index}}" title="{{n}}">  </label>
			</fieldset>
			
  		</div><br><br>
  		<h4 align="center">Rate: {{data.rate.sumRate/data.rate.totalRate | number:2}} / 5.00</h4>
  		<hr class="featurette-divider">
  		<div class="row">
	  		<div class="col-md-6" align="center"><h3 ><span class="glyphicon glyphicon-time" aria-hidden="true"></span></h3>Date: {{data.header.date | date: "dd-MM-yyyy"}} <br>Time:  {{data.header.date | date: "HH:mm:ss"}}<hr class="featurette-divider"></div>
	  		<div class="col-md-6" align="center"><h3 ><span class="glyphicon glyphicon-eye-open" aria-hidden="true" ></span></h3><b>{{data.header.views}}</b> views<br><br><hr class="featurette-divider"></div>
  		</div>
			<h3>Categories</h3>
			<div ng-repeat = "category in categories">
				<img ng-src="images/category/{{category}}.png">
				<a class = "text-left" ng-href="/category/p?category={{category}}&page=1">  {{category}}</a>
			</div>
			<br>
		
</div>