<div class="container col-md-7 col-md-offset-1">
	<div class="form-panel">
		<h1 class="blog-title text-uppercase"> {{data.header.title}} </h1>
		<b>Category :</b><a href="#"> {{data.header.category}}</a><br>
		<b> By: </b> {{data.header.author}}<br>
		<p class="blog-description text-article "> {{data.header.description}} </p>
	</div>
	<br>
	<div ng-repeat = "t in data.content.parts">
			<div class="form-panel">
				<div class="navbar " ng-show = "data.content.parts.length >1">
					<a class="navbar-brand brand" >Part {{$index + 1}}</a>
					<h2 class="navbar-text">{{t.title}} </h2>
				</div>
				<div class = "form-panel"ng-repeat = "x in t.steps">
					<div >
						<img ng-src="{{x.image}}" class="imagen" ng-show="x.image">
					</div>

					<h4 class="step navbar-brand" align="center">{{$index + 1}}</h4>
					<p> <strong>{{x.title}}.</strong> {{x.text}}</p>
				</div>
				<br>
			</div>
			<br>
	</div>
</div>
<div class = "col-md-3 form-panel">
		<h3 align="center">How helpful is this ?</h3>
		<div class="col-md-2"></div>
		<div style="text-align:center" class="col-md-10" >
			<fieldset class="rating" align="center" ng-repeat="n in ['Unhelpful','Mostly unhelpful','Possibly helpful','Mostly helpful','Extremely helpful']">
		         	<input type="radio" id="star{{$index}}" name="rating" ng-model="color.name" ng-value="$index" ng-click = "rateArticle()">
		        	<label  for="star{{$index}}" title="{{n}}">  </label>
			</fieldset>

  		</div><br><br>
  		<h4 align="center"><b>{{addrate | number:1}}</b> / 5 by <b>{{data.rate.totalRate}}</b> people</h4>
  		<hr class="featurette-divider">
  		<div class="row">
	  		<div class="col-md-6" align="center"><h3 ><span class="glyphicon glyphicon-time" aria-hidden="true"></span></h3>Date: {{data.header.date | date: "dd-MM-yyyy"}} <br>Time:  {{data.header.date | date: "HH:mm:ss"}}<hr class="featurette-divider"></div>
	  		<div class="col-md-6" align="center"><h3 ><span class="glyphicon glyphicon-eye-open" aria-hidden="true" ></span></h3><b>{{data.header.views}}</b> views<br><br><hr class="featurette-divider"></div>
  		</div>
			<h3>Categories</h3>
			<div ng-repeat = "category in categories">
				<img ng-src="images/category/{{category}}.png">
				<a class = "text-left" ng-href="/category/p?category={{category}}&page=1">  {{category}}</a>
			</div>
			<br>

</div>
