<!DOCTYPE html>
<html ng-app = "Admin">
<head>
  <title ng-bind="title"></title>
  <meta charset = "UTF-8">
  <base href="/"></base>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />

<script type="text/javascript" src="scripts/angular.min.js"></script>
<script type="text/javascript" src="scripts/angular-ui-router.min.js"></script>
<script type="text/javascript" src="scripts/angular-cookies.min.js"></script>

<script type="text/javascript" src="scripts/ng-file-upload.min.js"></script>
<script type="text/javascript" src="scripts/ng-file-upload-shim.min.js"></script>
<script type="text/javascript" src="scripts/admin-controller.js"></script>
<script type="text/javascript" src="scripts/admin.js"></script>
</head>
<body>
<div class = "cover">
    <h2 class = "text-center-vertical"> Wikihow Admin</h2>
</div>
<div>
	<nav class="navbar" ng-controller = 'navbarCtrl'>
  <div class = "">
	    <ul class = "nav nav-tabs nav-pills nav-stacked ">
	    	<li><a href="/admin/home">Home</a><li>
	    	<li><a href="/admin/users?page=1">Users</a><li>
	    	<li><a href="/admin/articles?page=1">Articles</a><li>
	    	<li><a href="/admin/categories">Categories</a><li>
	    	<li><a href="/admin/profile">My Profile</a><li>
	    	<li><a href="" ng-click = "logout()">Log out</a><li>
	    <ul>
  </div>
	</nav>
	<div class = "uiview" ui-view></div>
</div>
</body>
</html>
